/* /Pages/No_navigation.razor.rz.scp.css */
.row-layout[no_navigation-scope] {
    display: flex;
}
.no-navigation-container[no_navigation-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[no_navigation-scope] {
    height: max-content;
    min-width: min-content;
}
.view-container[no_navigation-scope] {
    overflow: auto;
    position: relative;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
}
/* /Pages/No_params/No_params_1.razor.rz.scp.css */
.row-layout[no_params_1-scope] {
    display: flex;
}
.no-params-1-container[no_params_1-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[no_params_1-scope] {
    height: max-content;
    min-width: min-content;
}
/* /Pages/No_params/Path_params_1.razor.rz.scp.css */
.row-layout[path_params_1-scope] {
    display: flex;
}
.path-params-1-container[path_params_1-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[path_params_1-scope] {
    height: max-content;
    min-width: min-content;
}
/* /Pages/No_params/Query_param_1.razor.rz.scp.css */
.row-layout[query_param_1-scope] {
    display: flex;
}
.query-param-1-container[query_param_1-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[query_param_1-scope] {
    height: max-content;
    min-width: min-content;
}
/* /Pages/Path_Params/No_params_2.razor.rz.scp.css */
.row-layout[no_params_2-scope] {
    display: flex;
}
.no-params-2-container[no_params_2-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[no_params_2-scope] {
    height: max-content;
    min-width: min-content;
}
/* /Pages/Path_Params/Path_params_2.razor.rz.scp.css */
.row-layout[path_params_2-scope] {
    display: flex;
}
.path-params-2-container[path_params_2-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[path_params_2-scope] {
    height: max-content;
    min-width: min-content;
}
/* /Pages/Path_Params/Query_params_2.razor.rz.scp.css */
.row-layout[query_params_2-scope] {
    display: flex;
}
.query-params-2-container[query_params_2-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[query_params_2-scope] {
    height: max-content;
    min-width: min-content;
}
/* /Pages/Query_Params/No_params_3.razor.rz.scp.css */
.row-layout[no_params_3-scope] {
    display: flex;
}
.no-params-3-container[no_params_3-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[no_params_3-scope] {
    height: max-content;
    min-width: min-content;
}
/* /Pages/Query_Params/Path_params_3.razor.rz.scp.css */
.row-layout[path_params_3-scope] {
    display: flex;
}
.path-params-3-container[path_params_3-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[path_params_3-scope] {
    height: max-content;
    min-width: min-content;
}
/* /Pages/Query_Params/Query_params_3.razor.rz.scp.css */
.row-layout[query_params_3-scope] {
    display: flex;
}
.query-params-3-container[query_params_3-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[query_params_3-scope] {
    height: max-content;
    min-width: min-content;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.row-layout[root_router-scope] {
    display: flex;
}
.root-router-container[root_router-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.nav-drawer[root_router-scope] {
    min-width: min-content;
    min-height: 0;
    max-width: 320px;
    flex-shrink: 0;
}
.view-container[root_router-scope] {
    overflow: auto;
    position: relative;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
}
.nav-drawer[root_router-scope]::part(base) {
    width: 320px;
}
.icon[root_router-scope] {
    --size: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
/* /Shared/No_params.razor.rz.scp.css */
.row-layout[no_params-scope] {
    display: flex;
}
.no-params-container[no_params-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[no_params-scope] {
    height: max-content;
    min-width: min-content;
}
.view-container[no_params-scope] {
    overflow: auto;
    position: relative;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
}
/* /Shared/Path_Params.razor.rz.scp.css */
.row-layout[path_params-scope] {
    display: flex;
}
.path-params-container[path_params-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[path_params-scope] {
    height: max-content;
    min-width: min-content;
}
.view-container[path_params-scope] {
    overflow: auto;
    position: relative;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
}
/* /Shared/Query_Params.razor.rz.scp.css */
.row-layout[query_params-scope] {
    display: flex;
}
.query-params-container[query_params-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[query_params-scope] {
    height: max-content;
    min-width: min-content;
}
.view-container[query_params-scope] {
    overflow: auto;
    position: relative;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
}
