@layout Path_Params
@page "/path-params/path-params-2"
@page "/path-params"
@page "/"

@using System.Web
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="row-layout path-params-2-container">
    <h5 class="h5">
        PATH PARAMS 2
    </h5>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public double Path1 { get; set; }
    private bool _isComponentActive = false;

    protected override void OnParametersSet()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParams = HttpUtility.ParseQueryString(uri.Query);

        var path1 = queryParams.Get("path1");
        Path1 = string.IsNullOrEmpty(path1) ? 123 : Convert.ToDouble(path1);

    }

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            _isComponentActive = true;
            NavigationManager.LocationChanged += OnLocationChanged;
            EnsureDefaultRoute();
        }
        await base.OnAfterRenderAsync(isFirstRender);
    }

    public void Dispose()
    {
        _isComponentActive = false;
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    protected void OnLocationChanged(object sender, object e)
    {
        if (_isComponentActive)
        {
            EnsureDefaultRoute();
        }
    }

    protected void EnsureDefaultRoute()
    {
        var defaultPath = $"/path-params/path-params-2";
        var currentRoute = "/" + NavigationManager.ToBaseRelativePath(NavigationManager.Uri).Split('?')[0];
        if (!string.Equals(defaultPath, currentRoute, StringComparison.OrdinalIgnoreCase))
        {
            NavigationManager.NavigateTo(defaultPath, replace: true);
        }
    }
}
