@layout Path_Params
@page "/path-params/query-params-2"

@using System.Web
@inject NavigationManager NavigationManager

<div class="row-layout query-params-2-container">
    <h5 class="h5">
        QUERY PARAMS 2
    </h5>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public double Q2 { get; set; }
    [Parameter]
    [SupplyParameterFromQuery]
    public double Q1 { get; set; }

    protected override void OnParametersSet()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParams = HttpUtility.ParseQueryString(uri.Query);

        var q2 = queryParams.Get("q2");
        Q2 = string.IsNullOrEmpty(q2) ? 202 : Convert.ToDouble(q2);

        var q1 = queryParams.Get("q1");
        Q1 = string.IsNullOrEmpty(q1) ? 201 : Convert.ToDouble(q1);

    }
}
