@layout MainLayout
@inherits LayoutComponentBase

@using System.Web
@inject NavigationManager NavigationManager

<div class="row-layout query-params-container">
    <h5 class="h5">
        QUERY PARAMS
    </h5>
    <div class="view-container">
        @Body
    </div>
</div>

@code {
    public double Q11 { get; set; }
    public double Q21 { get; set; }

    protected override void OnParametersSet()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParams = HttpUtility.ParseQueryString(uri.Query);

        var q11 = queryParams.Get("q11");
        Q11 = string.IsNullOrEmpty(q11) ? 30 : Convert.ToDouble(q11);

        var q21 = queryParams.Get("q21");
        Q21 = string.IsNullOrEmpty(q21) ? 31 : Convert.ToDouble(q21);

    }
}
