@layout Query_Params
@page "/query-params/no-params-3"
@page "/query-params"

@inject NavigationManager NavigationManager
@implements IDisposable

<div class="row-layout no-params-3-container">
    <h5 class="h5">
        NO PARAMS 3
    </h5>
</div>

@code {
    private bool _isComponentActive = false;

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            _isComponentActive = true;
            NavigationManager.LocationChanged += OnLocationChanged;
            EnsureDefaultRoute();
        }
        await base.OnAfterRenderAsync(isFirstRender);
    }

    public void Dispose()
    {
        _isComponentActive = false;
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    protected void OnLocationChanged(object sender, object e)
    {
        if (_isComponentActive)
        {
            EnsureDefaultRoute();
        }
    }

    protected void EnsureDefaultRoute()
    {
        var defaultPath = "query-params/no-params-3";
        var currentRoute =  NavigationManager.ToBaseRelativePath(NavigationManager.Uri).Split('?')[0];
        if (!string.Equals(defaultPath, currentRoute, StringComparison.OrdinalIgnoreCase))
        {
            NavigationManager.NavigateTo(defaultPath, replace: true);
        }
    }
}
