.row-layout[root_router-scope] {
    display: flex;
}
.root-router-container[root_router-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.nav-drawer[root_router-scope] {
    min-width: min-content;
    min-height: 0;
    max-width: 320px;
    flex-shrink: 0;
}
.view-container[root_router-scope] {
    overflow: auto;
    position: relative;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
}
.nav-drawer[root_router-scope]::part(base) {
    width: 320px;
}
.icon[root_router-scope] {
    --size: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
