.row-layout[query_params-scope] {
    display: flex;
}
.query-params-container[query_params-scope] {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5[query_params-scope] {
    height: max-content;
    min-width: min-content;
}
.view-container[query_params-scope] {
    overflow: auto;
    position: relative;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
}
