@layout MainLayout
@page "/no-navigation"


<div class="row-layout no-navigation-container">
    <h5 class="h5">
        No navigation
    </h5>
    <div class="view-container">
        @Body
    </div>
</div>

@code {
}
